body {
	background: #E5E5E5 url("../images/mooning.jpg");
	overflow-x: hidden;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.content{
	font: 12px/1.5 "Microsoft YaHei",tahoma, simsun, Verdana, Geneva, sans-serif;
}
.button-wrap a{text-decoration:none;}
.panel {
	display: block;
	background-color: white;
	color: #333;
	margin-bottom: 15px; -webkit-border-radius : 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-animation: panel-in 1s linear 0 1;
	-webkit-border-radius: 6px; -moz-border-radius : 6px; border-radius :
	6px; -webkit-animation : panel-in 1s linear 0 1;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
}
.panel .panel-title {
	background:url('../images/title.png');
	height:35px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-animation: panel-in 1s linear 0 1;
	-webkit-border-radius: 6px; -moz-border-radius : 6px; border-radius :
	6px; -webkit-animation : panel-in 1s linear 0 1;
	
}
.footer {
	display: block;
	background: white
		url("http://dw-resources.qiniudn.com/images/patterns/white_wall_hash.jpg");
	color: #333;
}
.progress .bar {
	background-image: linear-gradient(to bottom, RGB(0,128,237), RGB(0,128,237));
}
.tree .progress .bar img {
	top: 11px;
	position: absolute;
}
.tree .up-img {
}
.tree {
	min-height: 20px;
	padding: 26px;
	margin-bottom: 20px;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-animation: panel-in 1s linear 0 1;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.25);
}
.tree-ul {
	margin:0;
}
.tree li {
	list-style-type: none;
	margin: 0;
	position: relative;
}

.tree li::before,.tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	height: 20px;
	top: 25px;
	width: 25px
}
.tree-frist-li{
	border-top: 1px solid #999;
}
.tree li span {
	border-bottom: 1px solid #999;
	display: inline-block;
	text-decoration: none;
	line-height: 36px;
}
.tree li.parent_li>span {
	cursor: pointer
}

.tree>ul>li::before,.tree>ul>li::after {
	border: 0
}

.tree li:last-child::before {
	height: 30px
}

.tree li.parent_li>span:hover,.tree li.parent_li>span:hover+ul li span {
	color: #000
}

.tree [class^="icon-"], [class*=" icon-"] {
	background-image: url("../images/icon-down.png");
	background-position: 0 ;
}

.tree .icon-folder-open{
	background-position: 0;
}
.tree .progress{
	 margin-bottom: 0;
	 height:5px;
}
.tree .icon-plus-sign {
    background-position: 0;
}
.tree .icon-folder-open {
    background-position: 0;
}
.tree .icon-plus-sign {
    background-position: 0 ;
}
.tree-block-1 {
	width:140px;
	background-color:RGB(245,246,248);
}
.tree-leaf {
	padding-left:13px;
}
.parent_li .parent_li .tree-block-1 {
	width:115px;
}
.parent_li li .tree-block-1 {
	width:115px;
}
.parent_li .parent_li .parent_li .tree-block-1 {
	width:90px;
}
.parent_li .parent_li li .tree-block-1 {
	width:90px;
}
.tree-frist-li .tree-block-1 {
	text-align:center;
}
.tree-block-2 {
	width:160px;
	text-align:center;
	margin-left:-4px;
}
.tree-progess {
	width:279px;
}
.progress-wapper {
	 margin-bottom: 13px;
    margin-top: -18px;
}
.navbar-inner .container{
	width:940px;
}
.panel-title p{
	color: #0054FF;
    line-height: 33px;
    margin-left: 10px;
}
.kd-top {
	padding-bottom:20px;
	margin-left:20px;
	border-bottom:2px solid RGB(221,224,233);
}
.kd-list li {
	margin-top:10px;
	list-style-type:none;
}
.kd-list li span{
	width:21px;
	height:20px;
	display:block;
	float:left;
	margin-right:10px;
	text-align:center;
	background:url('../images/line-style.png') no-repeat;
}
.myScore {
	height:130px;
	padding:20px;
}
.score-value {
	color:RGB(0,128,237);
	font-size:88px;
	font-weight:lighter;
	margin-left:35px;
	margin-top:35px;
}
.score-img{
	margin-left:55px;
	margin-top:40px
}
.pro-text {
	margin-bottom:5px;
	color:RGB(102,102,102);
}
.pro-img {
	margin-bottom:10px;
}
.myExercise{
	height:387px;
	padding-top:40px;
	color:RGB(102,102,102);
}
.myExercise p {
	color:RGB(151,154,159);
}
.myExercise h4 {
	padding-bottom:2%;
	border-bottom:1px dotted  black;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
.exer-title{
	border-bottom:1px solid black;
}
.exer-question {
	border-bottom:1px dotted black;
}
.navbar .brand{
	padding:5px;
	margin-right:15px;
}
.nav li{
    line-height: 40px;
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: 18px;
}
.nav-line-right {
	border-right:1px solid black;
}
.nav-line-left {
	border-left:1px solid black;
}
.button-wrap {
	border:1px solid RGB(182,182,182);
}