#{extends 'admin/main.html' /}
#{set title:"来源管理" /}
<div class="mid"  style="width:400px;">
	<div class="oper">
		<a class="addTag" href="javascript:void(0)">新增题目来源</a>
		<a class="updateTag" href="javascript:void(0)">修改题目来源</a>
		<a class="deleteTag" href="javascript:void(0)">删除题目来源</a>
	</div></br>
	<ul id="TagTree"></ul>
</div>
<div id="addTagDialog">
	<div class="dialog-wapper">
	<form id="addTagForm">
		<ul>
		<li>来源名称：</li>
		<li><input type="text" name="name" id="addName"></li>
		<li>来源&nbsp;index：</li>
		<li><input type="text" name="index" id="addIndex"></li>
		<li>所属父来源：</li>
		<li id="showParent">请选择要添加的父来源</li>
		</ul>
		<input type="hidden" id="addParentTagId" name=contextTagId />
	</form>
	</div>
</div>
<div id="updateTagDialog">
	<div class="dialog-wapper">
	<form id="updateTagForm">
		<ul>
		<li>来源名称：</li>
		<li><input type="text" name="name" id="updateTagName"></li>
		<li>顺序：</li>
		<li><input type="text" name="index" id="updateOrder"></li>
		</ul>
		<input type="hidden" id="tagId" name="tagId"/>
	</form>
	</div>
</div>
<script>
$(function() {
	$(".addTag").linkbutton().click(function() {
		$("#addTagDialog").dialog("open");
	});
	$(".updateTag").linkbutton().click(function() {
		$.ajax({
			url:"@{admin.SubjectSources.detail}",
			type: "POST",
			data:{
				tagId: $("#addParentTagId").val()
			},
			dataType:"JSON",
			success:function(data) {
				if (data.error) {
					alert(data.error);
					return;
				}
				$("#updateTagName").val(data.name);
				$("#updateOrder").val(data.index);
				
				$("#updateTagDialog").dialog("open");
			}
		})
	});
	$(".deleteTag").linkbutton().click(function() {
		if (confirm("确定要删除此来源么？")) {
			$.ajax({
				url:"@{admin.SubjectSources.del}",
				type: "POST",
				data:{
					tagId:$("#addParentTagId").val()
				},
				dataType:"JSON",
				success:function(data) {
					if (data.error) {
						alert(data.error);
						return;
					}
					if (data.success) {
						$("#TagTree").tree("reload");
					}
				}
			})
		}
	});
	$("#TagTree").tree({
		animate:true,
		url:"@{admin.SubjectSources.tree}",
		onSelect : function(node) {
			$("#showParent").html(node.text);
			$("#tagId").val(node.id);
			$("#addParentTagId").val(node.id);
		}
	});
	$("#selectParent").linkbutton({});
	$("#addTagDialog").dialog({
		title:"新增来源",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		onOpen:function() {
			$("#addTagName").val("");
		},
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#addTagForm").serialize();
				$.ajax({
					url:"@{admin.SubjectSources.add}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						if (data.success) {
							$("#addTagDialog").dialog("close");
							$("#TagTree").tree("reload");
						}
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#addTagDialog").dialog("close");
			}
		}]
	});
	$("#updateTagDialog").dialog({
		title:"修改来源",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#updateTagForm").serialize();
				$.ajax({
					url:"@{admin.SubjectSources.update}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						if (data.success) {
							$("#updateTagDialog").dialog("close");
							$("#TagTree").tree("reload");
						}
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#updateTagDialog").dialog("close");
			}
		}]
	});
});
</script>