@CHARSET "UTF-8";
table {border: 0px solid #D2D2D2;}
tr th, tr td {
    padding: 0;
    color: 161616;
    border-right: 0px #D2D2D2 solid;
    border-left: 0px white solid;
    text-align: center;
}
tr th {
    text-align: center;
    border-bottom: 0px solid #B2B2B2;
    background: linear-gradient(top, #F1F1F1 0%,#DFDFDF 100%);
    background: -moz-linear-gradient(top, #F1F1F1 0%, #DFDFDF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#DFDFDF));
    background: -webkit-linear-gradient(top, #F1F1F1 0%,#DFDFDF 100%);
    background: -o-linear-gradient(top, #F1F1F1 0%,#DFDFDF 100%);
    background: -ms-linear-gradient(top, #F1F1F1 0%,#DFDFDF 100%);
    background: linear-gradient(top, #F1F1F1 0%,#DFDFDF 100%);
    text-shadow: 0;
    font-weight: normal;
    -webkit-box-shadow: 0 1px 0 white inset;
    -moz-box-shadow: 0 1px 0 white inset;
    box-shadow: 0 1px 0 white inset;
}
tr.even td {
    background-color: #F0F0F0;
}