#{extends 'admin/main.html' /}
#{set title:"用户管理" /}
<div class="mid">
	<table id="userManagerList"></table>
</div>
<div id="addUserDialog">
	<div class="dialog-wapper">
	<form id="addUserForm">
		<ul>
		<li>用户名称：</li>
		<li><input type="text" name="userName" id="userName"></li>
		<li>用户密码：</li>
		<li><input type="password" name="password" id="password"></li>
		<li>用户角色：</li>
		<li><a href="javascript:void(0)" id="selectRole">请选择</a></li>
		<input type="hidden" id="roleId" name="roleId"/>
		<li></li><li id="roleName"></li>
		</ul>
	</form>
	</div>
</div>
<div id="updateUserDialog">
	<div class="dialog-wapper">
	<form id="updateUserForm">
		<ul>
		<li>用户角色：</li>
		<li><a href="javascript:void(0)" id="selectUpdateRole">请选择</a></li>
		<input type="hidden" id="updateRoleId"  name="roleId"/><input type="hidden" id="userId" name="userId"/>
		<li id="updateRoleName"></li>
		</ul>
	</form>
	</div>
</div>
<div id="showRoleListDialog">
	<table id="roleList"></table>
</div>
<script>
$(function() {
	var flag = "add";
	$("#userManagerList").datagrid(gridUtils.createGridOption({
		title:"用户管理",
		url : "@{admin.Users.list}",
		columns : [[
				{field:'_id',hidden:true},
				{field:'checkbox',checkbox:true},
				{field:'userId',hidden:true},
				{field:'userName',title:'用户名',width:120,sortable:true},
				{field:'adminRole',title:'用户角色',width:120,sortable:true,formatter:function(value) {
					if (value) {
						return value.roleName;
					} else {
						return "";
					}
				}}
		        ]],toolbar:[{
					id:'addUser',
					text:'新增用户',
					iconCls:'icon-add',
					handler:function(){
						$("#userName").val("");
						$("#password").val("");
						$("#roleId").val("");
						$("#roleName").html("");
						$("#addUserDialog").dialog("open");
					}
				},{
					id:'updateUser',
					text:'修改用户',
					iconCls:'icon-edit',
					handler:function(){
						var _id = gridUtils.getIdFromGrid("userManagerList");
						if (!_id) {
							return;
						}
						$.ajax({
							url:"@{admin.Users.detail}",
							type: "POST",
							data:{
								userId:_id
							},
							dataType:"JSON",
							success:function(data) {
								if (data.error) {
									alert(data.error);
									return;
								}
								$("#updateRoleName").html("");
								if (data.adminRole) {
									$("#updateRoleName").html(data.adminRole.roleName);
									$("#updateRoleId").val(data.adminRole._id);
								}
								$("#userId").val(_id);
								$("#updateUserDialog").dialog("open");
							}
						})
					}
				},{
					id:'deleteUser',
					text:'删除用户',
					iconCls:'icon-no',
					handler:function(){
						var ids = gridUtils.getIdsFromGrid("userManagerList");
						if (!ids) {
							return;
						}
						if (confirm("确定删除所选中的用户么？")) {
							$.ajax({
								url:"@{admin.Users.delete}",
								type: "POST",
								data:{
									userIds:ids
								},
								dataType:"JSON",
								success:function(data) {
									if (data.error) {
										alert(data.error);
										return;
									}
									if (data.warning) {
										alert(data.warning);
									}
									$("#userManagerList").datagrid("reload");
								}
							})
						}
					}
				}]
		})
	)
	$("#roleList").datagrid(gridUtils.createGridOption({
		width:600,
		url : "@{admin.Roles.list}",
		nowrap:false,
		singleSelect:true,
		columns : [[
				{field:'_id',hidden:true},
				{field:'checkbox',checkbox:true},
				{field:'roleName',title:'角色名称',width:100,sortable:true},
				{field:'roleDesc',title:'角色描述',width:100,sortable:true},
				{field:'menuList',title:'菜单权限',width:100,formatter:function(value) {
					if (value) {
						var names = [];
						for (var i=0;i<value.length;i++) {
							names.push(value[i].menuName);
						}
						return names.join(" , ");
					}
					return "";
				}}
				]],
			onLoadSuccess:function() {
				$("#showRoleListDialog .datagrid-header-check").html("<div style='width:15px;'></div>");
			}
		})
	)
	$("#selectRole").linkbutton({}).click(function() {
		flag = 'add';
		$("#showRoleListDialog").dialog("open");
	});
	$("#selectUpdateRole").linkbutton({}).click(function() {
		flag = 'update';
		$("#")
		$("#showRoleListDialog").dialog("open");
	});
	$("#addUserDialog").dialog({
		title:"新增用户",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#addUserForm").serialize();
				$.ajax({
					url:"@{admin.Users.add}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						$("#addUserDialog").dialog("close");
						$("#userManagerList").datagrid("reload");
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#addUserDialog").dialog("close");
			}
		}]
	})
	$("#updateUserDialog").dialog({
		title:"修改用户",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#updateUserForm").serialize();
				$.ajax({
					url:"@{admin.Users.update}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						if (data.warning) {
							alert(data.warning);
						}
						$("#updateUserDialog").dialog("close");
						$("#userManagerList").datagrid("reload");
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#updateUserDialog").dialog("close");
			}
		}]
	})
	$("#showRoleListDialog").dialog({
		title:"选择角色",
		closed:true,
		modal:true,
		resizable:false,
		width:615,
		center: true,
		draggable:true,
		buttons:[{
			text:'保存',
			handler:function(){
				var id = gridUtils.getIdFromGrid("roleList");
				var roleName = gridUtils.getPropertyFromGrid("roleList", "roleName");
				if (flag == "add") {
					$("#roleName").html(roleName);
					$("#roleId").val(id);
				} else if (flag == "update") {
					$("#updateRoleName").html(roleName);
					$("#updateRoleId").val(id);
				}
				$("#showRoleListDialog").dialog("close");
			}
		},{
			text:'关闭',
			handler:function(){
				$("#showRoleListDialog").dialog("close");
			}
		}]
	})
})
</script>