<!DOCTYPE html>
<html class="default-layout" lang="zh-CN"><head>
<link rel="icon" type="image/vnd.microsoft.icon" href="http://ytk.fbcontent.cn/s/c34fd141-favicon.ico">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title></title>
<link rel="stylesheet" href="http://yuantiku.com/s/1c54be5a-SignupResult.css">
<!--[if lte IE 8]><link id="ie8Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/70fb8b0f-lte-ie8.css"/><![endif]-->
<!--[if lte IE 7]><link id="ie7Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/e1615147-lte-ie7.css"/><![endif]-->
<!--[if gte IE 9]><link id="ie9Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/26d1828d-gte-ie9.css"/><![endif]-->
    </head>
%{def user = controllers.Secure.getLoginUser();}%
    <body data-environment="production" data-page-name="SignupResult">
        <div class="wrap">
            <div class="header">
                <div class="header-content">
                    <div class="header-nav">
                        <a href="javascript:void(0)">手机客户端</a>
                        <span class="split">|</span>
                         <a href="" rel="nofollow">${user.userName}</a>
                    </div>
                </div>
            </div>
<div class="signup-success-wrap">
    <div class="message">
        <span class="bonjour bonjour-ok">&nbsp;</span>${user.userName}，你已成为智题的用户
    </div>
    <h1>选择一个科目开始练习</h1>

    <table class="table course-table" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td>
                <div class="bonjour bonjour-course-shadow"></div>
                <a href="@{Application.doExercise}?courseName=数学" class="course-content">
                    <span class="course-logo bonjour-course-xingce"></span>
                    <h2><span class="bonjour bonjour-course-button">数学</span></h2>
                    <p class="desc">开始练习 <span class="bonjour bonjour-course-enter"></span></p>
                </a>
            </td>
            <td>
                <div class="bonjour bonjour-course-shadow"></div>
                <a href="@{Application.doExercise}?courseName=英语" class="course-content">
                    <span class="course-logo bonjour-course-shenlun"></span>
                    <h2><span class="bonjour bonjour-course-button">英语</span></h2>
                    <p class="desc">开始练习 <span class="bonjour bonjour-course-enter"></span></p>
                </a>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td></td>
        </tr>
    </tbody></table>
</div>
</div>
</body></html>