<html>
<head>
#{include 'common/include.html' /} #{set title:'login'/}
<style>
body {
	padding-top: 5%;
}

</style>
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/jquery.loadmask.css'}">
<script src="@{'/public/javascripts/jquery.loadmask.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>
</head>
<body>
<div class="container content">
<form class="form-signin">
<h2 class="form-signin-heading">登陆</h2><br>
<input type="text" class="input-block-level" id="username" placeholder="邮箱/手机号">
<input type="password" class="input-block-level" id="password" placeholder="密码">
<label class="checkbox"> <input type="checkbox"
	value="remember-me"> 记住我 </label>
<button class="login-btn btn btn-large btn-primary" type="button" onclick="doLogin()">登陆</button>
<button class="reg-btn btn btn-large btn-success"  type="button">注册</button>
</form>
</div>
<script>
$(function() {
	$(".reg-btn").click(function() {
		location.href="@{Application.reg}";
	})
	$("#password").keyup(function(event) {
        if (event.keyCode == 13) {
            doLogin();
        }
    });
})
function doLogin() {
	var username = $('#username').val();
	if (!username) {
		alert('请输入用户名');
		$('#username').focus().select();
		return;
	}
	var pwd = $('#password').val();
	$("body").mask("正在登录中。。。");
    $.post("@{Secure.loginWithXHR}", {
		username : username,
		password : pwd
	}, function(data) {
		data = data || {};
		if (data.error) {
			alert(data.error);
			$("body").unmask();
		} else {
			window.location.href = data.url || "/";
		}
	})
}
</script>
</body>
</html>
