#{extends 'main.html'/}
<div class="container main">
	<div class="row-fluid">
	
		<div class="span12 panel">
			<div class="exer-title">
				<p><span>1.</span><span>下列对象能构成集合的是（ ）</span></p>
			</div>
			<div class="exer-question">
				<p><span>A.</span><span>2010年上海世博会的所有漂亮的展馆</span></p>
				<p><span>B.</span><span>参加2010年广州亚运会的部分运动员</span></p>
				<p><span>C.</span><span>参加2012年伦敦奥运会的中国运动员</span></p>
				<p><span>D.</span><span>上海所有高楼</span></p>
			</div>
			<div class="exer-answer">
				<p><span>A</span><span>B</span><span>C</span><span>D</span></p>
			</div>
		</div>
		
	</div>
</div>