<!DOCTYPE html>
<html lang="zh-CN" class="default-layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/vnd.microsoft.icon"
	href="http://ytk.fbcontent.cn/s/c34fd141-favicon.ico">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/date.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>智题</title>
<link rel="stylesheet"
	href="http://ytk.fbcontent.cn/s/1f1a251a-Main.css">
<!--[if lte IE 8]><link id="ie8Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/70fb8b0f-lte-ie8.css"/><![endif]-->
<!--[if lte IE 7]><link id="ie7Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/60ab7240-lte-ie7.css"/><![endif]-->
<!--[if gte IE 9]><link id="ie9Hack" rel="stylesheet" href="http://ytk.fbcontent.cn/s/26d1828d-gte-ie9.css"/><![endif]-->
<style>
.exercise-wrap .sidebar-wrap {
	float: left;
    margin-left: 803px;
    position: absolute;
}
.exercise-wrap .paper-wrap {
	float:left;
	margin-left:0px;
}
.question-sheet-wrap .question-sheet{
	width:225px;
}
.exercise-wrap .exercise-ft{
	margin-top:-6px;
}
</style>
</head>
%{def user = controllers.Secure.getLoginUser();}%
%{
	List<String> ans = new ArrayList<String>();
	ans.add("A");
	ans.add("B");
	ans.add("C");
	ans.add("D");
	ans.add("E");
	ans.add("F");
	ans.add("G");
	ans.add("H");
	ans.add("I");
}%
<body data-environment="production" data-page-name="Exercise">
	<div class="wrap">
		<div class="repeat-x default-t">
			<div class="header-left layout default-lt"></div>
			<div class="header-right layout default-rt"></div>
		</div>
		<div class="default-left repeat-y default-l"></div>
		<div class="default-right repeat-y default-r"></div>
		<div class="header">
			<div class="navbar-hd clearfix">
				<div class="pull-right navbar-links">
					<a class="mobile-link" href="javascript:void(0)"> <span
						class="sprite sprite-mobile-gray i-20"></span> 手机客户端
					</a> <a href="javascript:void(0)" class="user-nav user-menu-trigger">
						<span class="sprite sprite-profile i-20"></span> <span
						class="sprite sprite-profile-tip"> <span class="email">${user.userName}</span>
							<span class="sprite sprite-profile-tip-arrow"></span>
					</span>
					</a>
				</div>
			</div>
			<div class="navbar-bd">
				<div class="container">
					<div class="course-logo"></div>
					<ul class="nav main-nav">
						<li class="fir-wrap"><a href="javascript:void(0)"
							class="fir-wrap"> <span class="fir fir-header-exercise"><span
									class="fir-text">练习做题</span></span>
						</a></li>
					</ul>
				</div>
			</div>
			<span class="repeat-x header-shadow-repeat header-shadow-repeat-l"></span>
			<div class="header-shadow"></div>
			<span class="repeat-x header-shadow-repeat header-shadow-repeat-r"></span>
		</div>
		<div class="container body-wrap main">
			<div class="exercise-wrap" data-user-answers="null" data-answers="{}"
				data-id="2747373" data-system-time="1375277137048"
				data-sheet-question-count="15" data-status="-1"
				data-elapsed-time="0" data-sheet-time="0"
				data-current-chapter-index="0" data-sheet-type="3" data-version="0"
				data-sheet-name="">
				<div class="box-inner-wrap paper-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
						<div class="exercise-hd">
							<h1 class="sheet-name">快速智能练习</h1>
							<div class="split-box last">
								<span class="sprite sprite-box-split-l"></span><span
									class="repeat-x box-split"></span><span
									class="sprite sprite-box-split-r"></span>
							</div>
						</div>
						<div class="exercise-bd">
							<div class="placeholder">
								<h1 class="sheet-name">快速智能练习</h1>
								<div class="split-box last">
									<span class="sprite sprite-box-split-l"></span><span
										class="repeat-x box-split"></span><span
										class="sprite sprite-box-split-r"></span>
								</div>
							</div>
							<div class="chapter-desc-list"></div>
							<div class="chapter-wrap">
							#{list items:exercises,as:'e'}
								<div class="question-wrap" data-id="${e._id}"
									data-question-index="0" data-is-multiple="false"
									data-collected="false" id="question${e_index}">
									<div class="question">
										<div class="content clearfix">
											<div class="index pull-left">${e_index}</div>
											<div class="overflow">
												<p>${e.subject.title}</p>
											</div>
										</div>
										<div class="options">
											#{list items:e.subject.options,as:'o'}
											<div class="option">
												<span class="lbl">${ans.get(o_index - 1)}</span> ${o.content}
											</div>
											#{/list}
										</div>
										<ul class="answers">
											#{list items:e.subject.options,as:'o'}
											<li class="answer" data-answer-id="${o._id}"><span
												class="answer-radio i-20"></span> ${ans.get(o_index - 1)}</li>
											#{/list}
										</ul>
									</div>
								</div>
								#{/list}
								<div class="split-box">
									<span class="sprite sprite-box-split-l"></span><span
										class="repeat-x box-split"></span><span
										class="sprite sprite-box-split-r"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form id="answer-form" method="post" action="@{Exercises.end}">
					<input type="hidden" name="answer" value="" />
				</form>
				<div class="box-inner-wrap sidebar-wrap">
					<div class="sprite sprite-box-inner-lt"></div>
					<div class="repeat-x box-inner-t"></div>
					<div class="sprite sprite-box-inner-rt"></div>
					<div class="repeat-y box-inner-r"></div>
					<div class="sprite sprite-box-inner-rb"></div>
					<div class="repeat-y box-inner-l"></div>
					<div class="sprite sprite-box-inner-lb"></div>
					<div class="repeat-x box-inner-b"></div>
					<div class="box-inner">
					<div class="exercise-ft" style="height: 57px;">
							<div class="question-sheet-wrap sheet-wrap" style="">
								<div class="box-gray-wrap">
									<div class="repeat-x box-gray-t"></div>
									<div class="repeat-x box-gray-b"></div>
									<div class="repeat-y box-gray-l"></div>
									<div class="repeat-y box-gray-r"></div>
									<div class="sprite sprite-box-gray-lt"></div>
									<div class="sprite sprite-box-gray-rt"></div>
									<div class="sprite sprite-box-gray-lb"></div>
									<div class="sprite sprite-box-gray-rb"></div>
									<div class="sprite sprite-box-gray-legend toggle">
										<span class="text">展开答题卡</span> <span
											class="sprite sprite-circle-up-arrow i-20"></span>
									</div>
									<div class="sprite sprite-box-gray-legend title">
										<span class="text">答题卡</span>
									</div>
									<div class="box-gray">
										<div class="question-sheet">
											<table class="table">
												<tbody>
													<tr>
													#{list items:exercises,as:'e'}
														<td class="col-0 "><a data-id="${e._id}_question_sheet"
															data-question-index="0" data-chapter-index="0"
															href="#question${e_index}"
															class="question">${e_index}</a></td>
														<td colspan="5"></td>
													#{/list}
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar">
							<div class="side-top sprite sprite-side-top-bg">
								<span class="sprite sprite-clock"></span> <span class="text">已用时</span>
								<span class="timer">00:00</span>
							</div>
							<ul class="nav">
								<li class="pause">暂停</li>
								<li class="start" style="display:none;">继续</li>
								<li class="commit-exercise">我要交卷</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	var countId;
	var result = {};
	$(function() {
		$(".question-wrap").each(function() {
			var id = $(this).data("id");
			result[id] = ""; 
		})
		var start = new Date(2013,01,01);
		startCount(start);
		$(".pause").click(function() {
			$(this).hide();
			$(".start").show();
			clearInterval(countId);
		})
		$(".start").click(function() {
			$(this).hide();
			$(".pause").show();
			var start = new Date("01 01,2013 00:" + $('.timer').text());
			startCount(start);
		})
		$(window).bind("scroll", function() {
			if ($(window).scrollTop() > 128) {
				$(".sidebar-wrap").offset({top:$(window).scrollTop()})
			} else {
				$(".sidebar-wrap").offset({top:128})
			}
		})
		$(".answers li").click(function(){
			$(this).siblings().removeClass("active");
			$(this).addClass("active");
			var answerId = $(this).attr("data-answer-id");
			var questionId = $(this).closest(".question-wrap").data("id");
			$("a[data-id=" + questionId + "_question_sheet]").addClass("answered");
			result[questionId] = answerId;
		})
		$(".commit-exercise").click(function() {
			var str = "";
			for (var o in result) {
				str += o + "_" + result[o] + ",";
			}
			$("input[name='answer']").val(str.length > 1? str.substring(0,str.length-1) : str);
			console.log($("input[name='answer']").val());
			$("#answer-form").submit();
		})
	})
	function startCount(start) {
		countId = setInterval(function() {
			start = start.add("s",1);
			$(".timer").text(start.format("mm:ss"));
		},1000)
	}
</script>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</html>