#{extends 'admin/main.html' /}
#{set title:"菜单管理" /}
<div class="mid"  style="width:400px;">
	<div class="oper">
		<a class="addMenu" href="javascript:void(0)">新增菜单</a>
		<a class="updateMenu" href="javascript:void(0)">修改菜单</a>
		<a class="deleteMenu" href="javascript:void(0)">删除菜单</a>
	</div></br>
	<ul id="menuTree"></ul>
</div>
<div id="addMenuDialog">
	<div class="dialog-wapper">
	<form id="addMenuForm">
		<ul>
		<li>菜单名称：</li>
		<li><input type="text" name="menuName" id="addMenuName"></li>
		<li>菜单&nbsp;URL：</li>
		<li><input type="text" name="url" id="addUrl"></li>
		<li>所属父菜单：</li>
		<li id="showParent">请选择要添加的父菜单</li>
		</ul>
		<input type="hidden" id="addParentMenuId" name="parentMenuId" />
	</form>
	</div>
</div>
<div id="updateMenuDialog">
	<div class="dialog-wapper">
	<form id="updateMenuForm">
		<ul>
		<li>菜单名称：</li>
		<li><input type="text" name="menuName" id="updateMenuName"></li>
		<li>菜单&nbsp;URL：</li>
		<li><input type="text" name="url" id="updateUrl"></li>
		<li>顺序：</li>
		<li><input type="text" name="order" id="updateOrder"></li>
		</ul>
		<input type="hidden" id="menuId" name="menuId"/>
	</form>
	</div>
</div>
<script>
$(function() {
	$(".addMenu").linkbutton().click(function() {
		$("#addMenuDialog").dialog("open");
	});
	$(".updateMenu").linkbutton().click(function() {
		$.ajax({
			url:"@{admin.Menus.detail}",
			type: "POST",
			data:{
				menuId: $("#addParentMenuId").val()
			},
			dataType:"JSON",
			success:function(data) {
				if (data.error) {
					alert(data.error);
					return;
				}
				$("#updateMenuName").val(data.menuName);
				$("#updateUrl").val(data.url);
				if (data.order) {
					$("#updateOrder").val(data.order);
				}
				$("#updateMenuDialog").dialog("open");
			}
		})
	});
	$(".deleteMenu").linkbutton().click(function() {
		if (confirm("确定要删除此菜单么？")) {
			$.ajax({
				url:"@{admin.Menus.del}",
				type: "POST",
				data:{
					menuId:$("#addParentMenuId").val()
				},
				dataType:"JSON",
				success:function(data) {
					if (data.error) {
						alert(data.error);
						return;
					}
					if (data.success) {
						$("#menuTree").tree("reload");
					}
				}
			})
		}
	});
	$("#menuTree").tree({
		animate:true,
		url:"@{admin.Menus.tree}",
		onSelect : function(node) {
			$("#showParent").html(node.text);
			$("#menuId").val(node.id);
			$("#addParentMenuId").val(node.id);
		}
	});
	$("#selectParent").linkbutton({});
	$("#addMenuDialog").dialog({
		title:"新增菜单",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		onOpen:function() {
			$("#addMenuName").val("");
			$("#addUrl").val("");
		},
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#addMenuForm").serialize();
				$.ajax({
					url:"@{admin.Menus.add}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						if (data.success) {
							$("#addMenuDialog").dialog("close");
							$("#menuTree").tree("reload");
						}
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#addMenuDialog").dialog("close");
			}
		}]
	});
	$("#updateMenuDialog").dialog({
		title:"修改菜单",
		closed:true,
		modal:true,
		resizable:false,
		width:350,
		height:270,
		center: true,
		draggable:true,
		buttons:[{
			text:'保存',
			handler:function(){
				var formData=$("#updateMenuForm").serialize();
				$.ajax({
					url:"@{admin.Menus.update}",
					type: "POST",
					data:formData,
					dataType:"JSON",
					success:function(data) {
						if (data.error) {
							alert(data.error);
							return;
						}
						if (data.success) {
							$("#updateMenuDialog").dialog("close");
							$("#menuTree").tree("reload");
						}
					}
				})
			}
		},{
			text:'关闭',
			handler:function(){
				$("#updateMenuDialog").dialog("close");
			}
		}]
	});
});
</script>