<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/bootstrap.min.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/bootstrap-ie6.min.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/ie.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/font-awesome-ie7.min.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/buttons.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<script src="@{'/public/javascripts/jquery.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-ie.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/buttons.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<!--[if lt IE 9]>
      	<script src="@{'/public/javascripts/html5shiv.js'} type="text/javascript" charset="${_response_encoding}"/"></script>
    	<![endif]-->