<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#">智题</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="#">个人主页</a></li>
				</ul>
				<ul class="nav">
					<li><a href="#">历史题库</a></li>
				</ul>
				<ul class="nav">
					<li><a href="#">错题集</a></li>
				</ul>
				<ul class="nav pull-right">
					<li id="fat-menu" class="dropdown"><a href="#" id="drop3"
						role="button" class="dropdown-toggle" data-toggle="dropdown">用户xxx，您好<b
							class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
							<li role="presentation"><a role="menuitem" tabindex="-1"
								href="#">个人中心</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
								href="#">修改密码</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
								href="#">退出登陆</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</div>