<div class="tree">
    <ul class="tree-ul">
    	 <li class="tree-frist-li">
            <span class="hasborder tree-block-1"> 考点</span> <span class="tree-block-2">答对数/总题数 </span><span class="tree-block-2">正确率 </span><span class="tree-block-2 tree-progess">掌握情况</span><span class="tree-block-2">强化提升</span>
        </li>
        <li>
            <span class="hasborder tree-block-1"><i class="icon-folder-open"></i> 语言表达与理解</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 50%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div></span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /> </span>
            <ul>
                <li>
                	<span class="tree-block-1"><i class="icon-minus-sign"></i> 语言表达</span><span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 50%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
                    <ul>
                        <li>
	                        <span class="tree-block-1"><i class="tree-leaf"></i> 语言理解</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 40%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span class="tree-block-1"><i class="icon-folder-open"></i> 判断推理</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 30%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
            <ul>
                <li>
                	<span class="tree-block-1"><i class="tree-leaf"></i> Child</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 20%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
		        </li>
		    </ul>
        </li>
        <li>
            <span class="tree-block-1"><i class="icon-folder-open"></i> 常识判断</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 10%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
            <ul>
                <li>
                	<span class="tree-block-1"><i class="tree-leaf"></i> Child</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 20%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
		        </li>
		    </ul>
        </li>
        <li>
            <span class="tree-block-1"><i class="icon-folder-open"></i> 判断推理</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 30%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
            <ul>
                <li>
                	<span class="tree-block-1"><i class="tree-leaf"></i> Child</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 40%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
		        </li>
		    </ul>
        </li>
         <li>
            <span class="tree-block-1"><i class="icon-folder-open"></i> 数量关系</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 45%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
            <ul>
                <li>
                	<span class="tree-block-1"><i class="tree-leaf"></i> Child</span> <span class="tree-block-2">22/35 </span><span class="tree-block-2">67% </span><span class="tree-block-2 tree-progess">&nbsp;<div class="progress-wapper"><div class="progress"><div class="bar" style="width: 46%;"><img src="@{'/public/images/yuan.png'}" /></div></div></div> </span><span class="tree-block-2"><img src="@{'/public/images/icon-up.png'}" /></span>
		        </li>
		    </ul>
        </li>
    </ul>
</div>
<script>
$(function() {
	$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
	$('.tree li.parent_li > span').on('click', function (e) {
	    var children = $(this).parent('li.parent_li').find(' > ul > li');
	    if (children.is(":visible")) {
	        children.hide('false');
	        $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
	    } else {
	        children.show('false');
	        $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
	    }
	    e.stopPropagation();
	});
	$(".parent_li .parent_li .tree-block-2").first().css("margin-left","0px");
	$(".icon-folder-open").click()
	$(".tree .progress .bar img").each(function() {
		$(this).css("left", ($(this).closest("li").width() - 160 - (279 - $(this).parent().width())) + "px")
	})
})
</script>