#{extends 'admin/main.html' /}
#{set title:'list exercise' /}
<div class="mid">
#{include '/admin/common/search.html' /}
	<table id="ItemList"></table>
</div>
<script type="text/javascript">
$(function() {
	$("#ItemList").datagrid(gridUtils.createGridOption({
		title:"Tag管理",
		url : "@{admin.Tags.list}",
		nowrap:false,
		columns : [[
				{field:'_id',hidden:true},
				{field:'checkbox',checkbox:true},
				{field:'name',title:'name',width:80,sortable:true},
				{field:'context',title:'context',width:180,sortable:true,formatter:function(value,rec){
					var temp = "";
					var pre = rec.context;
					while(pre != null){
						temp=pre.name+":"+temp;
						pre = pre.context;
					}
					return temp;
				}},
		        ]],toolbar:[{
					text:'添加新Tag',
					iconCls:'icon-add',
					handler:function(){
						window.location.href = "@{admin.Tags.add}";
					}
				},{
					text:'修改Tag',
					iconCls:'icon-edit',
					handler:function(){
						var _id = gridUtils.getIdFromGrid("ItemList");
						if (!_id) {
							return;
						}
						window.location.href = "@{admin.Tags.update}?id=" + _id;
					}
				},{
					text:'删除Tag',
					iconCls:'icon-no',
					handler:function(){
						var ids = gridUtils.getIdsFromGrid("ItemList");
						if (!ids) {
							return;
						}
						if (confirm("确定删除所选中的主题么？")) {
							$.ajax({
								url:"@{admin.Tags.delete}",
								type: "POST",
								data:{
									ids:ids
								},
								dataType:"JSON",
								success:function(data) {
									if (data.error) {
										alert(data.error);
										return;
									}
									if (data.warning) {
										alert(data.warning);
									}
									$("#ItemList").datagrid("reload");
								}
							})
						}
					}
				}]
		})
	)
})
</script>